html {
  scroll-behavior: smooth;
}

.moveright {
  float: right;
  margin-right: 200px;
}

#root {
  background-color: darkgrey;
}

div.card {
  background-color: darkgray;
}

nav.navbar-custom {
  background-color: #454545 !important;
}

li.nav-item {
  background-color: red;
  margin-left: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.card {
  margin-top: 20px;
  margin-left: 10px;
}

footer {
  padding-top: 20px;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
}

div.review.card {
  background-color: darkgray;
}

.formconsolename {
  padding-left: 60px;
  margin-bottom: 20px;
}

.formconsoleimage {
  padding-left: 58px;
  margin-bottom: 20px;
}

.formbutton {
  margin-top: 10px;
  margin-left: 130px;
  background-color: darkgray;
}

.formgamestitle {
  padding-left: 60px;
  margin-bottom: 20px;
}

.formgamesimage {
  padding-left: 48px;
  margin-bottom: 20px;

}

.formgamesprice {
  padding-left: 55px;
  margin-bottom: 20px;

}

.formgamesstock {
  padding-left: 50px;
  margin-bottom: 20px;

}

.formgamesconsole {
  padding-left: 29px;
  margin-bottom: 20px;
}

.formgamesbutton {
  margin-left: 120px;
  background-color: darkgray;
}

div.console.card {
  background-color: lightgray;
  margin-right: 10px;
}

div.game.card {
  background-color: lightgray;
}

div.consoleshow.card {
  background-color: lightgray;
}

div.gameshow.card {
  background-color: lightgray;
}

.emptycart {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.login.card {
  background-color: lightgray;
}

.signup.card {
  background-color: lightgray;
}

.loginemail {
  margin-left: 30px;
}

.signupname {
  margin-left: 120px;
}

.signupemail {
  margin-left: 125px;
}

.signuppass {
  margin-left: 95px;
}

.signupbutton {
  /* margin-left: 220px; */
  margin-left: 50px;
}

.cartedcost {
  padding-top: 10px;
  padding-left: 20px;
}

.cart.card {
  background-color: lightgray;
}

.order.card {
  background-color: lightgray;
}

.order.cost {
  /* background-color: lightgray; */
  padding-top: 10px;
  padding-left: 20px;
}

.profile.card {
  background-color: lightgray;
}

.boldp {
  font-weight: bold;
}

.updatetitle {
  padding-left: 13px;
  margin-bottom: 20px;
}

.updateimage {
  margin-bottom: 20px;
}

.updateprice {
  padding-left: 8px;
  margin-bottom: 20px;
}

.updatestock {
  padding-left: 3px;
  margin-bottom: 20px;
}

.updatebutton {
  margin-left: 55px;
}

.search {
  margin-top: 5px;
  margin-left: 10px;
}

.boldpcenter {
  font-weight: bold;
  text-align: center;
}

div.border-dark.list-group-item {
  border-color: #000000;
}

div.game.card.mt-8.card-border {
  border: 1px solid #000;
}

div.console.card.mt-8.card-border {
  border: 1px solid #000;
}

div.profile.card.mt-8.card-border {
  border: 1px solid #000;
}

div.console.game.card.mt-8.card-border {
  border: 1px solid #000;
  background-color: darkgrey;
}


.rightcol {
  padding-top: 50px;
  background-color: #FAF9F6;
  border-radius: 10px;
}

/* div.border-dark.right.list-group-item {
  background-color: white;

} */

div.row {
  margin-right: 1px;
}


.musicbutton {
  margin-top: 5px;
  margin-left: 10px;
}


.addtocartbutton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.emptyfav {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-left: 410px;
}

@media (max-width: 767px) {
  .game.card {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .game.card .row {
    display: block;
  }

  .game.card .card-img-top {
    max-width: 115%;

  }

  div.rightcol.col-4 {
    margin-left: 15px;
    width: 300px;
  }

  li.nav-item {
    margin-top: 10px;
    width: 50%;
    text-align: center;
  }

  img.card-img-top.mx-auto.mt-3 {
    max-width: 100%;

  }

  div.boldp.list-group-item {
    margin-left: 8px;
    width: 60%;
  }

  div.d-flex.justify-content-center.list-group-item {
    width: 60%;
    margin-left: 8px;
  }

  button.navbar-toggler.collapsed {
    color: black;
    background-color: red;
  }
}

.nomatch {
  font-weight: bold;
  font-size: 150%;
  margin-left: 580px;
  padding-top: 10px;
}